*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.btn {
    width:auto;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #000000;
    background: #FFFFFF;
    outline: none;
    transition-duration: 0.4s;
}

.btn:hover {
    cursor: pointer;
    font-weight: 500;
    padding: 13px 18px;
}

.onClick{
    cursor: pointer;
    font-weight: 500;
    padding: 13px 18px;
}

